.vs
.vsconfig
.vscode
Library
Temp
Raws
UserSettings
UnityPackageManager
obj
.DS_Store
*.csproj
*.sln
.tags
*.*~
*.DotSettings
*.DotSettings.user
**/.SourceCache/*
Assets/__*/**
Assets/__*.meta
Logs
NuGet
.idea/.idea.*/*
!.idea/.idea.*/riderModule.iml
*-autosave.kra
.~lock*
*.code-workspace
.idea
